finished-app/node_modules/
finished-app/.expo/
finished-app/dist/
finished-app/npm-debug.*
finished-app/*.jks
finished-app/*.p8
finished-app/*.p12
finished-app/*.key
finished-app/*.mobileprovision
finished-app/*.orig.*
finished-app/web-build/


# macOS
.DS_Store
